:root {
  --primary-color: #bdc7cc;
  --secondary-color: #132c33;
  --text-color: #444251;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.7;
}

.hero-home {
  height: 100vh;
  text-align: center;
  padding: 100px 0;
  background-color: var(--secondary-color);
}

.hero-container {
  padding: 20px;
}

.hero-home h2,
.hero-container h2 {
  color: var(--primary-color);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px 0;
}

.hero-home p,
.hero-container p {
  color: var(--primary-color);
  font-weight: 300;
  margin: 0px;
}

.hero-home a {
  color: var(--primary-color);
}

.btn-branding {
  color: #f5f5f5;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 14px;
  padding: 12px 20px;
}

.btn-branding:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.btn-project {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
}

.contact-container {
  background-color: var(--secondary-color);
  border-radius: 4px;
  max-width: 800px;
  margin: 0 auto;
}

.fa-envelope,
.fa-linkedin {
  font-size: 42px;
  color: var(--primary-color);
}

.fa-envelope:hover,
.fa-linkedin:hover {
  color: #f5f5f5;
}

@media (max-width: 767px) {
  .project-description {
    text-align: center;
  }

  .hero-container {
    text-align: center;
  }
}
